<title>QuestLife</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->


<body>
<div id="navbar-wrapper">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">QuestLife</a>
        </div>

        <div id="navbar-collapse" class="collapse navbar-collapse">
          <!--
         <form class="navbar-form navbar-left" role="search">
           <div class="input-group">
             <input type="text" class="form-control" placeholder="Search">
             <span class="input-group-btn">
                                   <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                               </span>
           </div> -->

          </form>
          <ul class="nav navbar-nav navbar-right">
            <!--
            <li class="dropdown">
              <a id="flag" href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="http://www.country-dialing-codes.net/img/png-country-4x2-fancy-res-1280x960/gb.png" alt="English" width="28px" height="18px">
              </a>
              <ul class="dropdown-menu dropdown-menu-flag" role="menu">
                <li>
                  <a href="#">
                    <img src="http://www.country-dialing-codes.net/img/png-country-4x2-flat-res-640x480/gf.png" alt="Français" width="28px" height="18px">
                    <span>Français</span>
                  </a>
                </li>
              </ul>
            </li> -->
            <%if current_user %>
              <li>
                <%= current_user.name%>
              </li>
              <li></li>
              <li class="dropdown">
                Lvl: <%= current_user.level %>
                Score: <%=current_user.score %>
              </li>
              <li class="dropdown">
                <%= link_to 'En', home_path(locale: :en), method: 'PATCH' %>
              </li>
              <li class="dropdown">
                <%= link_to 'Sk', home_path(locale: :sk), method: 'PATCH' %>
              </li>
              <li class="dropdown">
                <%= link_to 'Logout', login_path(), method: 'DELETE' %>
              </li>

            <%else %>
              <li class="dropdown">
                <%= link_to 'En', home_path(locale: :en), method: 'PATCH' %>
              </li>
              <li class="dropdown">
                <%= link_to 'Sk', home_path(locale: :sk), method: 'PATCH' %>
              </li>
              <li>
                <h4><a href="/login">Login</a></h4>
              </li>
            <%end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <aside id="sidebar">
      <ul id="sidemenu" class="sidebar-nav">
        <li>
          <a href="/home">
            <span class="sidebar-icon"><i class="fa fa-home"></i></span>
            <span class="sidebar-title">Home</span>
          </a>
        </li>
        <%if current_user %>
          <li>
            <a href="/new_quests">
              <span class="sidebar-icon new-quest"><i class="fa fa-exclamation-circle"></i></span>
              <%if @has_new_quest > 0 %>
                <span class="sidebar-title new-quest">New quests</span>
              <%else %>
                <span class="sidebar-title">New quests</span>
              <%end %>

            </a>
          </li>
          <li>
            <a href="/quests">
              <span class="sidebar-icon"><i class="fa fa-question-circle"></i></span>
              <span class="sidebar-title">My accepted Quests</span>
            </a>
          </li>
          <li>
            <a href="/created_quests">
              <span class="sidebar-icon"><i class="fa fa-database"></i></span>
              <span class="sidebar-title">My created Quests</span>
            </a>
          </li>
          <li>
            <a href="/create_quest">
              <span class="sidebar-icon"><i class="fa fa-certificate"></i></span>
              <span class="sidebar-title">Create quest</span>
            </a>
          </li>
        <%end%>
        <li>
          <a href="/allquests">
            <span class="sidebar-icon"><i class="fa fa-clone"></i></span>
            <span class="sidebar-title">All quests</span>
          </a>
        </li>
        <li>
          <a href="/rooms">
            <span class="sidebar-icon"><i class="fa fa-user"></i></span>
            <span class="sidebar-title">Rooms</span>
          </a>
        </li>
        <li>
          <a href="/about">
            <span class="sidebar-icon"><i class="fa fa-info-circle"></i></span>
            <span class="sidebar-title">About QuestLife</span>
          </a>
        </li>
      </ul>
    </aside>
  </div>
  <main id="page-content-wrapper" role="main">
    <!-- stred -->
    <div class="container">
      <div class="row">
        <div class="well">
          <h1 class="text-center">My quests</h1>
          <% flash.each do |key, value| %>

            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <% accepted = current_user.quests.where(:users_quests => {status: '1'}).order('id').paginate(page: params[:page], per_page: 7) %>
          <% accepted.each  do |quest|    %>


            <div class="list-group">
              <a href="#" class="list-group-item active">
                <!-- <div class="media col-md-3">
                  -
                   <figure class="pull-left">
                    obrazok
                     <img class="media-object img-rounded img-responsive"  src="https://banner2.kisspng.com/20180418/ufq/kisspng-exclamation-mark-sign-interjection-symbol-clip-art-exclamation-point-5ad7d507472689.6009598115240942152914.jpg" alt="placehold.it/350x250" >
                   </figure>
                </div>-->

                <div class="col-sm-8">
                  <p class="list-group-item-heading"> <%= quest.task %> </p>
                </div>

                <!--
              <div class="col-md-6 ">
                 <%= link_to 'Accept', quest_accept_path(quest), method: 'POST' %>
                <button type="button" class="btn btn-default btn-lg btn-block" > Completed! </button>
              </div> -->

              </a>
              <div class="col-sm-2 ruby-button">
                <%= link_to 'Comlete', quest_accept_path(quest), method: 'POST' %>
              </div>
              <br>
            </div>
          <% end %>
          <%=will_paginate accepted %>
        </div>
      </div>
    </div>
  </main>
</div>
</body>