<head>
  <title>QuestLife</title>
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <% provide(:title, "Log in") %>
    <h1>Sign up</h1>
    <%= form_for(:sign_up, url: sign_up_path) do |f| %>


      <div class="formContent">
        <% flash.each do |key, value| %>

          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>


      </div>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <br>
      <%= f.label :Email %>
      <%= f.email_field  :email, class: 'form-control' %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>

      <%= f.label :Repeat_password %>
      <%= f.password_field :password2, class: 'form-control' %>
      <br>


      <%= f.submit "Sign up ", class: "btn btn-primary" %>
    <% end %>
  </div>

  </div>
</body>