
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <% provide(:title, "Log in") %>
    <h1><%=t :title, scope: :signup %></h1>
    <%= form_for(:sign_up, url: sign_up_path) do |f| %>


      <div class="formContent">
        <% flash.each do |key, value| %>

          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>


      </div>
      <%= f.label (t :name, scope: :models) %>
      <%= f.text_field :name, class: 'form-control' %>
      <br>
      <%= f.label (t :email, scope: :models) %>
      <%= f.email_field  :email, class: 'form-control' %>
      <br>
      <%= f.label (t :password, scope: :models) %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>

      <%= f.label (t :pass_again, scope: :models) %>
      <%= f.password_field :password2, class: 'form-control' %>
      <br>


      <%= f.submit (t :signup, scope: :menu), class: "btn btn-primary" %>
    <% end %>
  </div>

  </div>
</body>