
<h1>Hello, Rails!</h1>
<ol>
 <% @users.each_with_index  do |user|  %>
<li>
    <strong>
  <%= user.name %>
      created <%= time_ago_in_words user.created_at %> ago
      <%= link_to user.name, user %>
</strong>
</li>
<% end %>
  </ol>
<%= link_to 'my quests', 'quests' %>

<%= form_with scope: :quest, local: true do |form| %>

  <p>
    <%= form.label :Quest %><br>
    <%= form.text_area :task %>
  </p>
  <p>
  <%= form.label :reward %><br>
  <%= form.number_field :reward %>
  </p>
  <%= form.label :description %><br>
  <%= form.text_area :description %>
  <p>
    <%= form.button %>
  </p>
<% end %>
_________________________________________________________________
<h1>Pouzivatelia a ich questy:</h1>

<% @users.each do |user| %>
  <h3><%=user.name %></h3>
  <% user.quests.each  do |quest|    %>
  <%= quest.task %>
    <br>
  <% end %>
  <br>
  ________________________________________________________________
<% end %>