<%= form_with scope: :user, local: true do |form| %>
Login User:<br>
<p>
  <%= form.label :Name %><br>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :Password %><br>
  <%= form.text_field :password %>
</p>


<p>
  <%= form.button %>
</p>
<% end %>

