

<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <% flash.each do |key, value| %>

      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <% provide(:title, "Log in") %>
    <h1><%=t :title, scope: :login %></h1>

    <%= form_for(:login, url: login_path) do |f| %>
      <%= f.label (t :user_name, scope: :models) %>
      <%= f.text_field :name, class: 'form-control',  maxlength: 20, width: 20%>

      <br>
      <%= f.label (t :password, scope: :models) %>
      <%= f.password_field :password, class: 'form-control',  maxlength: 20, size: 50, :class=>"login-block"  %>
      <br>
      <%= f.submit (t :login, scope: :menu), class: "btn btn-primary" %>
    <% end %>

    <div id="formFooter">
      <a class="underlineHover" href="/<%=locale%>/sign_up"><%=t :signup, scope: :menu %></a>
    </div>
  </div>

</div>
</body>

