<head>
  <title>QuestLife</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->

<body>
<div id="navbar-wrapper">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">QuestLife</a>
        </div>

        <div id="navbar-collapse" class="collapse navbar-collapse">
          <!--
         <form class="navbar-form navbar-left" role="search">
           <div class="input-group">
             <input type="text" class="form-control" placeholder="Search">
             <span class="input-group-btn">
                                   <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                               </span>
           </div> -->

          </form>
          <ul class="nav navbar-nav navbar-right">
            <!--
            <li class="dropdown">
              <a id="flag" href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="http://www.country-dialing-codes.net/img/png-country-4x2-fancy-res-1280x960/gb.png" alt="English" width="28px" height="18px">
              </a>
              <ul class="dropdown-menu dropdown-menu-flag" role="menu">
                <li>
                  <a href="#">
                    <img src="http://www.country-dialing-codes.net/img/png-country-4x2-flat-res-640x480/gf.png" alt="Français" width="28px" height="18px">
                    <span>Français</span>
                  </a>
                </li>
              </ul>
            </li> -->
            <%if current_user %>
              <li>
                <%= current_user.name%>
              </li>
              <li></li>
              <li class="dropdown">
                Lvl: <%= current_user.level %>
                Score: <%=current_user.score %>
              </li>
              <li class="dropdown">
                <%= link_to 'En', home_path(locale: :en), method: 'PATCH' %>
              </li>
              <li class="dropdown">
                <%= link_to 'Sk', home_path(locale: :sk), method: 'PATCH' %>
              </li>
              <li class="dropdown">
                <%= link_to 'Logout', login_path(), method: 'DELETE' %>
              </li>

            <%else %>
              <li class="dropdown">
                <%= link_to 'En', home_path(locale: :en), method: 'PATCH' %>
              </li>
              <li class="dropdown">
                <%= link_to 'Sk', home_path(locale: :sk), method: 'PATCH' %>
              </li>
              <li>
                <h4><a href="/login">Login</a></h4>
              </li>
            <%end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <aside id="sidebar">
      <ul id="sidemenu" class="sidebar-nav">
        <li>
          <a href="/home">
            <span class="sidebar-icon"><i class="fa fa-database"></i></span>
            <span class="sidebar-title">Home</span>
          </a>
        </li>
        <%if current_user %>
          <li>
            <a href="/new_quests">
              <span class="sidebar-icon"><i class="fa fa-database"></i></span>
              <span class="sidebar-title">New quests</span>
            </a>
          </li>
          <li>
            <a href="/quests">
              <span class="sidebar-icon"><i class="fa fa-database"></i></span>
              <span class="sidebar-title">My accepted Quests</span>
            </a>
          </li>
          <li>
            <a href="/created_quests">
              <span class="sidebar-icon"><i class="fa fa-database"></i></span>
              <span class="sidebar-title">My created Quests</span>
            </a>
          </li>
          <li>
            <a href="/create_quest">
              <span class="sidebar-icon"><i class="fa fa-database"></i></span>
              <span class="sidebar-title">Create quest</span>
            </a>
          </li>
        <%end %>
        <li>
          <a href="/allquests">
            <span class="sidebar-icon"><i class="fa fa-database"></i></span>
            <span class="sidebar-title">All quests</span>
          </a>
        </li>
        <li>
          <a href="/rooms">
            <span class="sidebar-icon"><i class="fa fa-database"></i></span>
            <span class="sidebar-title">Rooms</span>
          </a>
        </li>
        <li>
          <a href="/about">
            <span class="sidebar-icon"><i class="fa fa-database"></i></span>
            <span class="sidebar-title">About QuestLife</span>
          </a>
        </li>
      </ul>
    </aside>
  </div>
  <main>
    <div class="container">
      <div class="row">
        <div class="well">
          <div class="headline">
            <h1>About QuestLife</h1>
          </div>
          <div class="row">
            <div class="list-group">
              <div class="about">
                <p>
                  QuestLife is application for sending quests to friends,
                  accepting from others or just making a to-do list for yourself. Get inspirated or motivated
                  by other users, make your life more exciting for free!!
                </p>
                <h2>What is quest?</h2>
                <p>
                  From gaming world quest is a task with reward. Usually it is simple and
                  clearly defined. By completing quests your score will rise and from that your level will rise too.
                  To gain level you must have score of 1000
                </p>
                <h2>What is room?</h2>
                <p>
                  Room is a place created by admins. When they add quests to room, all users in that room will get notification.
                  Rooms can be specified in som field like sport, television series, music band etc.
                  Users come to rooms they are interested in, to get more quests from choosen field.
                </p>
                <h2>Creating/sending quest</h2>
                <p>
                  For sending quest you must creating. Go to "Create quest" and fill information:
                  <br>
                </p>
                <p>
                  <strong>1.quest:</strong> name of quest, this should be as short as possible<br>
                  <strong>2.reward:</strong>  it is amount of score, which is gained by completing quest<br>
                  <strong>3.Description:</strong> -voluntary. Here you can add longer description of your quest<br>
                </p>
                <p>
                  <h3>Choices:</h3>
                  <strong>1. Make public: </strong>By making quest public, it will appear in "All quests" and other users can add it.
                  Please take a note that not public does not mean exactly private, so do not save here any personal info. <br>
                  <strong>2. Add to mine: </strong>By choosing this option, quest will by added to your accepted quest<br>
                  <strong>3.Send to other user by name: </strong>With this you can send this quest to other user. Just add his/her name to empty space.<br>
                </p>
                <p>
                  After sending quest user will get a notification and can accept it.
                </p>
                <h2>Accepting and completing quest</h2>
                <p>
                  At first you must accept quest. You can create your own and add it to yours or accept existing quest in all quest.
                  Also you can accept quest, which was send to you by other user or was send from room. After accepting you can see the quest in "My accepted quests"<br>
                  In "My accepted quest" you have an option "Complete" under the quest. By clicking this you quest is now completed, and reward for it will be added to you score.

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</body>