<!DOCTYPE html>
<html>
  <head>
    <title>QuestLife</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <% flash.each do |level, message| %>
    <span class="notification-<%= level %>">"<%= message %></span>
     <% end %>

    <%= yield %>
  
  </body>
</html>
